* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: F4F4F4;
    color: #333333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #35424A;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    background-color: 35424A;
}